<div class="container">

    <br>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 text-center">

            <h1>BURGERS</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <hr>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-5 text-center">

            <h3>Available:</h3>

            <h5>

                {{#each safe}}

                <p>{{id}}. {{burger_name}}

                    <button type="button" class="btn btn-danger" id={{id}}>Danger</button>

                </p>

                {{/each}}

            </h5>

        </div>

        <div class="col-lg-5 text-center">

            <h3>Devoured:</h3>

            <h5>

                {{#each eaten}}

                <p>{{id}}. {{burger_name}}</p>

                {{/each}}

            </h5>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <form>

                <div class="form-group">
                    <h4><label for="textarea">Add a burger:</label></h4>
                    <textarea class="form-control" id="text" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        </div>

        <div class="col-lg-1"></div>

    </div>

</div>

<script>

    $(".btn-danger").on("click", function (event) {

        event.preventDefault();

        let ID = this.id;

        $.ajax("/api/burgers/" + ID, {

            type: "PUT",
            data: true

        }).then(function () {

            console.log("tasty");

            location.reload();

        });

    });

    $(".btn-primary").on("click", function (event) {

        event.preventDefault();

        let newBurg = {

            burger_name: $("#text").val().trim()

        }

        $.ajax("/api/burgers", {

            type: "POST",

            data: newBurg

        }).then(function () {

            console.log("Added new burger.");

            location.reload();
        });

    });

</script>